{{ if .Site.Params.widgets.teams }}
{{ if isset .Site.Taxonomies "teams" }}
{{ if not (eq (len .Site.Taxonomies.teams) 0) }}
<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
      <h3 class="panel-title">People</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked">
            {{ $current := . }}
            <!-- {{ $current.RelPermalink }} -->
            {{ range $name, $items := .Site.Taxonomies.teams }}
            <!-- {{ $name | urlize | lower }} -->
            <li{{ if eq $current.RelPermalink ($name | urlize | lower | printf "/teams/%s/") }} class="active"{{ end }}>
                <a href="{{ $.Site.BaseURL }}teams/{{ $name | urlize | lower }}">{{ $name }} </a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}
