<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}
          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">

                    <div class="col-sm-3">

                        <!-- *** MENUS AND WIDGETS *** -->
                        <div class="panel panel-default sidebar-menu">
                            <div class="panel-heading">
                              <h3 class="panel-title">Education</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    {{ $paginator := (.Paginate .Data.Pages) }}
                                    {{ range $paginator.Pages }} 
                                    <li><a href="{{ .URL }}">{{ .Title }}</a>
                                    </li>
                                    {{ end }} 
                                </ul>
                            </div>
                        </div>

                        {{ partial "widgets/search.html" . }}
                        <!-- *** MENUS AND FILTERS END *** -->
                    </div>
                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-sm-9">

                        <!-- List page for "blog" -->
                        {{ $paginator := (.Paginate .Data.Pages) }}
                        {{ range $paginator.Pages }}
                        <section class="post">
                            <div class="row">
                                <div class="col-sm-1 col-xs-2">
                                    <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle-thin fa-stack-2x"></i>
                                      <i class="fa fa-{{ .Params.icon }} fa-stack-1x"></i>
                                    </span>
                                </div>
                                <div class="col-sm-11 col-xs-10">
                                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                    <p class="intro">{{ .Summary }}</p>
                                    <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
                                </div>
                            </div>
                        </section>
                        {{ end }}

                    </div>
                    <!-- *** RIGHT COLUMN END *** -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
