{{ if isset .Site.Params "movie" }}
{{ if .Site.Params.movie.enable }}

<section>
    <div class="video-background">
        <div class="video-foreground">
            <video poster="{{ .Site.Params.movie.snapfile }}" id="bgvid" playsinline autoplay muted loop>
                <source src="{{ .Site.Params.movie.moviefile }}" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="vid-info">
                <div class="heading text-center">
    	            <h2>{{ .Site.Params.movie.title }}</h2>
                        <p>{{ .Site.Params.movie.subtitle }}</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <div style="text-align: right;">
                    <a style="color: #fff" href="{{ .Site.Params.movie.sourcefile }}" target="_blank">video source</a>
                </div>
            </div>
        </div>
    </div>

</section>

{{ end }}
{{ end }}
