<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "nav.html" . }}

        {{ partial "breadcrumbs.html" . }}

        <div id="content">
            <div class="container">
                <div class="row">

                    <!-- *** RIGHT COLUMN *** -->

                    <div class="col-md-12">

                        <!-- List page for "blog" -->
                        {{ $paginator := (.Paginate .Data.Pages) }}
                        {{ range $paginator.Pages }}
                        <section class="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-sm-1">
                                        <span class="fa-stack fa-lg">
                                          <i class="fa fa-circle-thin fa-stack-2x"></i>
                                          <i class="fa fa-{{ .Params.icon }} fa-stack-1x"></i>
                                        </span>
                                    </div>
                                    <div class="col-sm-11">
                                    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                    <p class="intro">{{ .Summary }}</p>
<p class="read-more"><a href="{{ .Permalink }}" class="btn btn-template-main">{{ i18n "continueReading" }}</a>
                                    </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        {{ end }}

                    </div>
                    <!-- *** RIGHT COLUMN END *** -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
